.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-right: 30px;
    /* background-color: #1976d2; */
  }


  .header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-left: 20px;
    /* background-color: #1976d2; */
  }

  .logo {
    width: 70px;
    height: 70px;
  }
  
  .login {
    border: 1px solid rgb(51, 51, 216);
    padding: 12px 30px;
    border-radius: 50px;
    background-color: white;
    color: rgb(51, 51, 216);
    cursor: pointer;
    font-size: 20px;
    outline: none;
    margin-right: 20px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }

  .login:hover {
    background-color: rgb(209, 233, 255);
  }



  .billwiseText {
  font-family: 'Segoe UI', 'Arial', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2rem;           /* Adjust until it matches the image */
  letter-spacing: 0.08em;
  color: #3939ab;              /* Or use the exact blue from your image */
  line-height: 1.1;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
}
